@import './variables';
@import './mixin';

body {
    color: $primary-color;
    font-family: $font
}

h1 {
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

h2{
    color: $secondary-color;
    font-size: 24px
}

.sign-in {
    @include center-text;
    font-size: 24px;
}

  
.header {
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    @include flex-center;
}
  
.nav {
    width: 100%;
    max-width: 1200px; // Ajusta el ancho máximo según tus necesidades
    @include flex-center;
    justify-content: space-between;
}
  
.nav__link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
  
    &:hover {
      background-color: #555;
      border-color: white;
    }
  
    .mdi {
      margin-left: 5px;
    }

    
}

.v-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: -12px;
    text-align: center;
    padding-top:40px;
}
.signInbtn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
}
.v-table__wrapper {
    border-radius: inherit;
    overflow: auto;
    flex: 1 1 auto;
    text-align: center;
}

.v-table > .v-table__wrapper > table > tbody > tr > th, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > th {
    height: var(--v-table-header-height);
    font-weight: 500;
    user-select: none;
    text-align: center !important;
}